body {
    background-color: lemonchiffon;
}

#main-heading {
    background-color: aqua;
}

#word-display {
    margin-top: 20px;
}

#word-display p {
    background-color: lightblue;
}

h4 {
    margin-bottom: 10px;
}

#favorites {
    margin-top: 5px;
}

#favorites-heading {
    margin-bottom: 5px;
}

.error {
    color: red;
}