body.light {
    background-color: lemonchiffon;
}

body.dark {
    background-color: black;
    color: rgb(176, 176, 176)
}

#main-heading.light {
    background-color: aqua;
}

#main-heading.dark {
    background-color: navy;
}

#word-display {
    margin-top: 20px;
}

#word-display p {
    background-color: lightblue;
}

h4 {
    margin-bottom: 10px;
}

#favorites {
    margin-top: 5px;
}

#favorites-heading {
    margin-bottom: 5px;
}

.error {
    color: red;
}

#change-display-div {
    display: flex;
    padding-right: 10px;
}

#change-display {
    margin-left: auto;
}